@use './variables.scss' as *;

.tourHomeHighlightsMainContainer{
    margin: 3rem 0;
    .scrollRightBtn, .scrollLeftBtn{
        display: none;
    }

    h1{
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0px;
        margin: 1rem 0;
    }
    p{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .cardMainContainer{
        display: grid;
        grid-template-columns: repeat(6,350px);
        overflow-x: scroll;
        gap: 1.5rem;
        padding-bottom: 1rem;
        &::-webkit-scrollbar{
            display: none;
        }

        .card{
            border-radius: 8px;
            overflow: hidden;
            border: 1px solid $cardBorderColor;
            box-shadow: 1px 1px 10px 1px $cardBorderColor;
            img{
                height: 300px;
                object-fit: cover;
            }


            .content{
                padding: 1rem;

                h3{
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 24px;
                    letter-spacing: 0.6px;
                    margin: 0.5rem 0;
                }

                p{
                    font-size: 15px;
                    font-weight: 300;
                    line-height: 24px;
                    letter-spacing: 0.6px;
                }
            }
        }
    }
}



@media screen and (min-width: 767px) {
    .tourHomeHighlightsMainContainer {
            position: relative;

            .scrollRightBtn{
                position: absolute;
                right: -15px;
                top: 50%; 
                transform: translate(0, -50%);
            }
            .scrollLeftBtn{
                position: absolute;
                left: -15px;
                top: 50%; 
                transform: translate(0, -50%);
            }
            .scrollRightBtn, .scrollLeftBtn{
                background-color: transparent;
                color: $primary;
                border: none;
                font-size: 2rem;
                display: block;
            }
            .cardMainContainer {
                gap: 1.5rem;
    
    
                .card {
                    border-radius: 8px;
                    overflow: hidden;
                    border: 1px solid $cardBorderColor;
                    box-shadow: 1px 1px 10px 1px $cardBorderColor;
    
    
                    .content {
                        padding: 1rem;
    
                        h3 {
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 24px;
                            letter-spacing: 0.6px;
                            margin: 0.5rem 0;
                        }
    
                        p {
                            font-size: 15px;
                            font-weight: 300;
                            line-height: 24px;
                            letter-spacing: 0.6px;
                        }
                    }
                }
            }
        }
}