@use './variables.scss' as *;

.tourHomeThingsToDoMainContainer{
    margin: 1rem 0;

    h1{
        padding: 1rem;
        margin: 1rem 0 10px 0;
    }
    .topThingstoDoContainer{
        display: grid;
        overflow-x: scroll;
        gap: 1rem;
        &::-webkit-scrollbar{
            display: none;
        }

        .topThingstoDoCard{
            width: 200px;
            overflow: hidden;
            border-radius: 14px;

            img{
                width: 200px;
            }

            h3{
                padding-left: 10px;
                font-size: 0.9rem;
            }
        }
    }
    
}