@use './variables.scss' as *;

.tourCardBigDeviceMainContainer{
    display: grid;
    grid-template-columns: 350px 1fr 200px;
    align-items: center;
    justify-content: center;
    border: 1px solid #bbb;
    padding: 2rem;
    border-radius: 14px;

    .tourCardImgContainer{
        width: 300px;
        border-radius: 14px;
        overflow: hidden;
        .imgContainer{
            img{
                object-fit: cover;
                height: 350px;
                width: 300px;
            }
        }
    }
}